.intro-wrap {
    overflow: hidden;
}
.intro-wrap .p-img-con{
    float: left;
    width: 420px;
}
.intro-wrap .p-img-con .main-img-con{
    height: 400px;
    border:1px solid #ddd;
}
.intro-wrap .p-img-con .main-img-con .main-img{
    height: 400px;
    width: 100%;
}
.intro-wrap .p-img-con .p-img-list{
    overflow: hidden;
    height: 76px;
    margin-top: 5px;
    margin-right: -10px;
}
.intro-wrap .p-img-con .p-img-item{
    width: 72px;
    height: 72px;
    border:2px solid #eee;
    cursor: pointer;
    float: left;
    margin-right: 10px;
}
.intro-wrap .p-img-con .p-img-item:hover{
    border:2px solid #c60023;
}
.intro-wrap .p-img-con .p-img-item .p-img{
    width: 100%;
    height: 100%;
}

.intro-wrap .p-info-con{
    float: left;
    width: 640px;
    margin-left: 20px;
}
.intro-wrap .p-info-con .p-name{
    font-size: 20px;
    color: #333;
}
.intro-wrap .p-info-con .p-subtitle{
    font-size: 15px;
    color: #c60023;
    line-height: 30px;
}
.intro-wrap .p-info-con .p-info-item{
    position: relative;
    padding: 0 10px;
    margin-top: 20px;
}
.intro-wrap .p-info-con .p-info-item .label{
    display: inline-block;
    width: 50px;
    color: #999;
}
.intro-wrap .p-info-con .p-price-con{
    background: #eee;
    padding: 10px;
}
.intro-wrap .p-info-con .p-price-con .info{
    color: #c60023;
    font-size: 18px;
}
.intro-wrap .p-info-con .p-count-con .p-count{
   height: 36px;
   line-height: 36px;
   font-size: 15px;
   width: 45px;
   text-align: center;
   outline: none;
   border: 1px solid #aaa; 
}
.intro-wrap .p-info-con .p-count-con .p-count-btn{
    position: absolute;
    left: 115px;
    display: block;
    width: 20px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 10px;
    border: 1px solid #aaa;
    background: #fff;
    cursor: pointer;
    user-select: none;
}
.intro-wrap .p-info-con .p-count-con .p-count-btn.plus{
    top:0;
}
.intro-wrap .p-info-con .p-count-con .p-count-btn.minus{
    bottom: 0;
}

.detail-wrap{
    margin-top: 15px;
}
.detail-wrap .tab-list{
    background: #eee;
    border:1px solid #ddd;
    overflow: hidden;
    border-bottom: 1px solid #c60023;
}
.detail-wrap .tab-list .tab-item{
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    float: left;
}
.detail-wrap .tab-list .tab-item.active{
    background: #c60023;
    color: #fff;
}
.detail-wrap .detail-con{
    padding-top:20px;
    background: #fff;
}
.detail-wrap .detail-con img{
    margin:0 auto;
    display: block;
}

.err-tip{
    /* padding:0 10px; */
    height: 40px;
    line-height: 40px;
    color:#f60;
    font-weight: bold;
    text-align: center;
    background: #eee;
}